<%- include('../inc/top') %>
  <div class="container">
    <div class="row justify-content-center" style="margin-top: 10px;">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section" style="margin-top: 40px; color: darkblue;"><b
            style="font-size: 30px; font-weight: 500;">QUẢN LÝ NGƯỜI DÙNG</b></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex float-lg-end" style="margin-bottom: 20px;"><button type="button" class="btn btn-outline-primary"
            onclick="location.href='http://localhost:3000/add'">Thêm Người Dùng</button></div>
        <div class="table-wrap">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th><a style="color: black; text-decoration: none;"
                    href="http://localhost:3000/account/sortaccname">Name</a>
                </th>
                <th>Phone</th>
                <th>Email</th>
                <th>Addres</th>
                <th>Role</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach(data=>{%>
                <tr class="alert" role="alert">

                  <td>
                    <%=data.name %>
                  </td>

                  <td>
                    <%=data.phone %>
                  </td>

                  <td>
                    <%=data.email %>
                  </td>

                  <td>
                    <%=data.address %>
                  </td>

                  <td>
                    <%=data.role %>
                  </td>

                  <td>

                    <button type="submit">
                      <div>

                        <span><a href="/account/update/<%=data._id%>" onclick="return mconfirm_alert(this);"><i
                              class="bi bi-pencil-square"></i></i></a></span>
                      </div>
                    </button>
                    <!-- 
                    <button type="submit">

                      <span><a href="/category/delete/<%=data._id%>" onclick="return confirm_alert(this);"> <i
                            class="fa fa-trash"></i></a></span>
                    </button> -->
                  </td>
                </tr>

                <%} ) %>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- <script type="text/javascript">
        function confirm_alert(node) {
            return confirm("Bạn có chắc chắn xóa không ?");
        }
    </script> -->
  <script type="text/javascript">
    function mconfirm_alert(node) {
      return confirm("Bạn có chắc chắn sửa không ?");
    }
  </script>

  <%- include('../inc/bottom') %>