<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    
  </head>
  <body>
    <%- include('./inc/top', { title: 'HOME' }); %>
    <main class="mt-5 pt-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 style="text-align: center; margin-bottom: 65px; color: darkblue;">STATISTICAL</h2>
          </div>  
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <div class="card bg-primary text-white h-100">
              <div class="card-body py-5 d-flex">CATEGORY
                <span class="ms-auto">
                  <%=cat%>
                </span>
              </div>
              <div class="card-footer">
                <a class="text-reset d-flex" style="text-decoration: none;" href="/category">
                  View Details
                  <span class="ms-auto">
                    <i class="bi bi-chevron-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-warning text-white h-100">
              <div class="card-body py-5 d-flex">PRODUCT
                <span class="ms-auto">
                  <%=pro%>
                </span>
              </div>
              <div class="card-footer">
                <a class="text-reset d-flex" style="text-decoration: none;" href="/product">
                  View Details
                  <span class="ms-auto">
                    <i class="bi bi-chevron-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-success text-white h-100">
              <div class="card-body py-5 d-flex">FEEDBACK
                <span class="ms-auto">
                  <%=feedback%>
                </span>
              </div>
              <div class="card-footer">
                <a class="text-reset d-flex" style="text-decoration: none;" href="/feedback">
                  View Details
                  <span class="ms-auto">
                    <i class="bi bi-chevron-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-danger text-white h-100">
              <div class="card-body py-5 d-flex">ACCOUNT
                <span class="ms-auto">
                  <%=acc%>
                </span>
              </div>
              <div class="card-footer">
                <a class="text-reset d-flex" style="text-decoration: none;" href="/account">
                  View Details
                  <span class="ms-auto">
                    <i class="bi bi-chevron-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-8 mb-3">
            <div class="card h-100">
              <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                2023
              </div>
              <div class="card-body">
                <canvas id="column-chart"></canvas>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-header">
                <span><i class="bi bi-table me-2"></i></span> Year Table
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="table table-striped"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>Year</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% totalByYear.forEach(data=>{%>
                      <tr>
                        <td><%- Object.keys(data) %></td>
                        <td><%- Object.values(data) %> đ</td>
                      </tr>  
                      <%})%>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="container">
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-header">
                <span><i class="bi bi-table me-2"></i></span> DATA
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="table table-striped data-table"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Quantity Sell</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% data.forEach(data=>{
                        let sell = 0;
                        listdbill.forEach(i => {
                          if (i.name == data.name) {
                              sell += i.quantity;
                          }
                        });%>
                            <tr>
                              <td><%=data.name %></td>
                              <td><img style="width: 80px; height: 75px;" src="<%= data.image %>"></td>
                              <td><%=data.price %></td>
                              <td><%=data.id_category.name %></td>
                              <td><%=data.status %></td>
                              <td><%=sell %></td>
                            </tr>
                          
                      <%} ) %>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </main>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/jquery-3.5.1.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.bootstrap5.min.js"></script>
    <script src="./js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      var totalByMonth = <%- JSON.stringify(totalByMonth) %>;
      
      const canvas = document.getElementById('column-chart').getContext("2d");
    
      // Dữ liệu biểu đồ
      
      const data = {
        labels: <%- JSON.stringify(Object.keys(totalByMonth)) %>,
        datasets: [{
          label: 'Doanh thu',
          data: <%- JSON.stringify(Object.values(totalByMonth)) %>,
          backgroundColor: 'rgba(54, 162, 235, 0.5)',
          borderColor: 'rgba(54, 162, 235, 1)',
          borderWidth: 1
        }]
      };
    
      // Cấu hình biểu đồ
      const config = {
        type: 'bar',
        data: data,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      };
    
      // Vẽ biểu đồ vào canvas
      new Chart(canvas, config);

    </script>


    <%- include('./inc/bottom'); %>
  </body>
</html>


