<%- include('../inc/top', { title: 'LIST PRODUCT' }); %>
    
    <p class="text-center fs-3 fw-bolder fw-bold" style="margin-top: 20px;">List Product</p>

        <div class="row height d-flex justify-content-center align-items-center">
            <span>
            <button><a href="/add-pro"> Thêm sản phẩm </a></button>
            </span>
        </div>


        <div class="table" style="margin-top: 30px;"> 
            <table class="table mx-auto" style="max-width: 95%;" id="myTable">
                <thead>
                 
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    
                    <th>Thể loại</th>
                  </tr>
                  
                </thead>
                <tbody>
                    <% data.forEach(function(objTL){ %>
                      <tr>
                        <th>
                          <a href="/detail/<%= objTL._id %>" class="navbar-brand aa"><%= objTL._id %></a>
                        </th>
                        <td><%= objTL.name %></td>
                        <td><%= objTL.price %></td>
                        <td><%= objTL.quantity %></td>
                        <td><%= objTL.description %></td>
                        
                        <td><%= objTL.id_category.name %></td>
                        <td>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <a class="btn border text-center aa" href="/edit-pro/<%= objTL._id %>"><span><i class="fa-solid fa-pen" style="color: #000000;"></i></span> Edit</a>
                              </div>
                        </td>
                        <td>
                          <div class="d-grid gap-2 col-6 mx-auto">
                              <a class="btn border text-center aa" href="/remove-pro/<%= objTL._id %>" onclick="return confirm_alert(this);"><span><i class="fa-regular fa-trash-can" style="color: #000000;"></i></span> Delete</a>
                            </div>
                        </td>
                      </tr>
                    <% }); %>
                </tbody>
              </table>
              <script type="text/javascript">
                function confirm_alert(node) {
                    return confirm("Bấm OK để xóa người dùng này.");
                }
        
            </script>
<%- include('../inc/bottom'); %>
