<%- include('../inc/top', { title: 'MANAGE PRODUCT' }); %>
<!DOCTYPE html>
<html>
<head>
    <title>Quản lý sản phẩm</title>
    <style>

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }
        
        label {
            margin-bottom: 10px;
        }
        
        input[type=text], select {
            padding: 6px;
            width: 250px;
            margin-bottom: 10px;
        }
        
        input[type=submit] {
            padding: 6px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
        
        table {
            border-collapse: collapse;
            width:80%;
            margin: 0 auto;
        }
        
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        
        th {
            background-color: grey;
            color: white;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Quản lý sản phẩm</h1>

    <div class="row">
        <div class="col-md-12 ">
            <div class="d-flex flex-row-reverse" style="margin-bottom: 5px;"><button type="button"
                    class="btn btn-success " onclick="location.href='http://localhost:3000/product/add'">Thêm vật nuôi</button></div>
            <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="padding: 30px;">
                <div class="table-wrap ">
                    <table id="myTable" class="table table-responsive-xl  ">
                        <thead class="thead-dark">
                            <tr>

                                <th>Id</th>
                                <th>Tên</th>
                                <th>Giá</th>
                                <th>Sô lượng</th>
                                <th>Description</th>
                                <th>
                                    Image
                                </th>
                                <th>Giá</th>

                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% list.forEach(data=>{%>
                                <tr class="alert" role="alert" data-id="<%= data.id %>" data-target="#exampleModal">
                                    <th>
                                        <%=data._id%>
                                    </th>
                                    <td class="d-flex align-items-center">
                                        <div class="img" style="background-image: url(images/person_1.jpg);"></div>
                                        <div class="pl-3 ">
                                            <span>
                                                <%=data.name %>
                                            </span>
                                        </div>
                                    </td>

                                    
                                    <td>
                                        <div class="pl-3 ">
                                            <span>
                                                <%=data.price %>
                                            </span>
                                        </div>
                                    </td>                      
                                   

                                   
                                    <td>
                                        <div class="pl-3 ">
                                            <span>
                                                <%=data.quantity %>
                                            </span>
                                        </div>
                                    </td>
                              

                                   
                                    <td>
                                        <div class="pl-3 ">
                                            <span>
                                                <%=data.description %>
                                            </span>
                                        </div>
                                    </td>
                                    

                                    <td>
                                        <img style="width: 50px; height: 50px;" src="<%= data.image %>">
                                    </td>



                                    <td>
                                        <button type="submit">
                                            <span><a href="/product/delete/<%=data._id%>"
                                                    onclick="return confirm_alert(this);"><i class="fa fa-trash"
                                                        style="font-size: 20px; color: rgb(245, 65, 65);"></i></a></span>
                                        </button>
                                        <button type="submit">
                                            <span><a href="/product/edit/<%=data._id%>">
                                                    <i class="fa fa-pencil-square-o"
                                                        style="font-size: 20px; color: rgb(65, 245, 92); margin-left: 10px;"></i>
                                                </a>
                                            </span>
                                        </button>
                                    </td>
                                </tr>

                                <%} ) %>





                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

    <h2 style="text-align: center;">Danh sách sản phẩm</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Giá sản phẩm</th>
            <th>Số lượng</th>
            <th>Thao tác</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Sản phẩm 1</td>
            <td>100,000 VND</td>
            <td>2000</td>
            <td>
                <a href="/product/detailproduct">Xem</a>
                <a href="/product/edit/<%=data._id%>">Sửa</a>
                <a href="#" onclick="return confirm_alert(this);">Xóa</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Sản phẩm 2</td>
            <td>200,000 VND</td>
            <td>1560</td>
            <td>
                <a href="product/detailproduct">Xem</a>
                <a href="/product/edit/<%=data._id%>">Sửa</a>
                <a href="#" onclick="return confirm_alert(this);">Xóa</a>
            </td>
        </tr>
        <!-- Thêm các dòng tương tự cho danh sách sản phẩm -->
    </table>
    <script type="text/javascript">
        function confirm_alert(node) {
            return confirm("Bấm OK để xóa người dùng này.");
        }

    </script>
</body>
</html>
<%- include('../inc/bottom'); %>